<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>talmud</key>
	<array>
		<dict>
			<key>name</key>
			<string>Berachos</string>
			<key>location</key>
			<real>1</real>
			<key>length</key>
			<real>125</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Shabbos</string>
			<key>location</key>
			<real>126</real>
			<key>length</key>
			<real>312</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Eruvin</string>
			<key>location</key>
			<real>438</real>
			<key>length</key>
			<real>207</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Pesachim</string>
			<key>location</key>
			<real>645</real>
			<key>length</key>
			<real>240</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Shekalim</string>
			<key>location</key>
			<real>885</real>
			<key>length</key>
			<real>42</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Yoma</string>
			<key>location</key>
			<real>927</real>
			<key>length</key>
			<real>173</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Sukah</string>
			<key>location</key>
			<real>1100</real>
			<key>length</key>
			<real>110</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Beitzah</string>
			<key>location</key>
			<real>1210</real>
			<key>length</key>
			<real>78</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Rosh Hashanah</string>
			<key>location</key>
			<real>1288</real>
			<key>length</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Taanis</string>
			<key>location</key>
			<integer>1355</integer>
			<key>length</key>
			<real>59</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Megilah</string>
			<key>location</key>
			<integer>1414</integer>
			<key>length</key>
			<real>61</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Moed Katan</string>
			<key>location</key>
			<integer>1475</integer>
			<key>length</key>
			<real>55</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Chagigah</string>
			<key>location</key>
			<integer>1530</integer>
			<key>length</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Yevamos</string>
			<key>location</key>
			<integer>1581</integer>
			<key>length</key>
			<real>242</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Kesuvos</string>
			<key>location</key>
			<integer>1823</integer>
			<key>length</key>
			<real>222</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Nedarim</string>
			<key>location</key>
			<integer>2045</integer>
			<key>length</key>
			<real>180</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Nazir</string>
			<key>location</key>
			<integer>2225</integer>
			<key>length</key>
			<real>130</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Sotah</string>
			<key>location</key>
			<integer>2355</integer>
			<key>length</key>
			<real>96</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Gitin</string>
			<key>location</key>
			<integer>2451</integer>
			<key>length</key>
			<real>178</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Kidushin</string>
			<key>location</key>
			<integer>2629</integer>
			<key>length</key>
			<real>162</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bava Kama</string>
			<key>location</key>
			<integer>2791</integer>
			<key>length</key>
			<real>236</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bava Metzia</string>
			<key>location</key>
			<integer>3027</integer>
			<key>length</key>
			<real>235</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bava Basra</string>
			<key>location</key>
			<integer>3262</integer>
			<key>length</key>
			<real>350</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Sanhedrin</string>
			<key>location</key>
			<integer>3612</integer>
			<key>length</key>
			<real>224</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Makos</string>
			<key>location</key>
			<integer>3836</integer>
			<key>length</key>
			<real>46</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Shevuos</string>
			<key>location</key>
			<integer>3882</integer>
			<key>length</key>
			<real>96</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Avodah Zarah</string>
			<key>location</key>
			<integer>3978</integer>
			<key>length</key>
			<real>150</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Horayos</string>
			<key>location</key>
			<integer>4128</integer>
			<key>length</key>
			<real>25</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Zevachim</string>
			<key>location</key>
			<integer>4153</integer>
			<key>length</key>
			<real>238</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Menachos</string>
			<key>location</key>
			<integer>4391</integer>
			<key>length</key>
			<real>217</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Chulin</string>
			<key>location</key>
			<integer>4608</integer>
			<key>length</key>
			<real>281</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Bechoros</string>
			<key>location</key>
			<integer>4889</integer>
			<key>length</key>
			<real>119</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Erchin</string>
			<key>location</key>
			<integer>5008</integer>
			<key>length</key>
			<real>65</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Temurah</string>
			<key>location</key>
			<integer>5073</integer>
			<key>length</key>
			<real>65</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Kerisus</string>
			<key>location</key>
			<integer>5138</integer>
			<key>length</key>
			<real>54</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Meilah</string>
			<key>location</key>
			<integer>5192</integer>
			<key>length</key>
			<real>72</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Nidah</string>
			<key>location</key>
			<integer>5264</integer>
			<key>length</key>
			<real>143</real>
		</dict>
	</array>
</dict>
</plist>
